__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.python-version
files/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
*.pid
static_dir/
pip-log.txt
pip-delete-this-directory.txt
src/nosetests.xml
src/coverage.xml
*.mo
.env/
*.pot
*.log
local_settings.py
*.idea
*/venv
src/server/.idea/*
.vscode/
venv/
.cache/
downloads/
media/
private_medi